BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
AccessModifierOffset: -8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Left
ColumnLimit: 100